@page
@model ShoppingWebsite.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "Create Category";
}

<h2>Create New Category</h2>
<hr />

<a class="btn btn-success btn-sm mb-2" asp-page="Index">Back to List</a>


<form method="post" class="d-flex">
	<div class="card" style="min-width: 400px">
		<div class="card-body">
			<p>
				<label asp-for="Category.CategoryName"></label>
				<input class="form-control" asp-for="Category.CategoryName" />
				<span class="text-danger" asp-validation-for="Category.CategoryName"></span>
			</p>
			<p>
				<label asp-for="Category.Description"></label>
				<input class="form-control" asp-for="Category.Description" />
				<span class="text-danger" asp-validation-for="Category.Description"></span>
			</p>
		</div>
		<div class="card-footer">
			<button class="btn btn-primary">Create</button>
		</div>
	</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}