@page
@model ShoppingWebsite.Pages.Profile.UpdateModel
@{
	ViewData["Title"] = "Update profile";
}

<h2>Update profile information</h2>
<hr />

@*<form class="d-flex" style="gap: 5px" method="post">

	<div class="card" style="min-width: 450px">
		<div class="card-header">
			<b>Tài khoản</b>
		</div>
		<div class="card-body">
			<p>
				<b>ID:</b>@customer.Account.AccountID
			</p>
			<p>
				<b>UserName:</b>@customer.Account.UserName
			</p>
			<p>
				<label asp-for="updateView.FullName"></label>
				<input class="form-control" asp-for="updateView.FullName"/>
				<span class="text-danger" asp-validation-for="updateView.FullName"></span>
			</p>
			<p>
				<b>Type:</b>@(customer.Account.Type == Models.Account.AccountType.Staff ? "Staff" : "Customer")
			</p>
		</div>
	</div>

	<div class="card" style="min-width: 450px">
		<div class="card-header">
			<b>Thông tin khách hàng</b>
		</div>
		<div class="card-body">
			<p>
				<label asp-for="updateView.ContactName"></label>
				<input class="form-control" asp-for="updateView.ContactName"/>
				<span class="text-danger" asp-validation-for="updateView.ContactName"></span>
			</p>
			<p>
				<label asp-for="updateView.Address"></label>
				<input class="form-control" asp-for="updateView.Address"/>
				<span class="text-danger" asp-validation-for="updateView.Address"></span>
			</p>
			<p>
				<label asp-for="updateView.Phone"></label>
				<input class="form-control" asp-for="updateView.Phone"/>
				<span class="text-danger" asp-validation-for="updateView.Phone"></span>
			</p>
		</div>
	</div>

	<div class="align-self-end">
		<button class="btn btn-success">Xác nhận</button>
	</div>


	<input type="hidden" asp-for="CustomerID"/>
</form>*@