@page
@model ShoppingWebsite.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin</h2>
<hr />

<div class="card">
	<div class="card-body">
		<ul class="list-group">
			<li class="list-group-item">
				<b>Manage Product: <a asp-page="/Products/Index">View list</a></b>
			</li>
			<li class="list-group-item">
				<b>Manage Category: <a asp-page="/Categories/Index">View list</a></b>
			</li>
			<li class="list-group-item">
				<b>Manage Supplier: <a asp-page="/Suppliers/Index">View list</a></b>
			</li>
		</ul>
	</div>
</div>